[defaults]
inventory = inventory.ini
host_key_checking = False
retry_files_enabled = False
deprecation_warnings = False

[persistent_connection]
command_timeout = 60
connect_timeout = 60

[paramiko_connection]
host_key_checking = False
record_host_keys = False
